@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.Ideas {
  flex-basis: 80%;
  padding: 30px 0 50px;

  h1 {
    font-size: 3rem;
    color: $primary;
    padding: 10px 0;
  }

  .IdeasContainer {
    @include flex(flex-start, flex-start);
    flex-wrap: wrap;
  }
}